<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{title}</title>
</head>
<body>
  <mat-card>Login Panel</mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="UserName" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Password"></textarea>
    </mat-form-field>

    <button mat-raised-button color="signin()"> SignIn </button>


  </form>
</body>
</html>
